
@import url("//fonts.googleapis.com/css?family=Chewy");


.header {
    background-color: #FFDE59;
    font-family: 'Chewy';
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConfigButton {
    font-family: 'Chewy';
    background-color: #FFDE59;
    font-size: 40px;
    height: 250px;
    width: 250px;
    float: left;
    margin-left:100px;
    margin-right:150px;
    margin-top: 50px;
  }

.LogButton {
    font-family: 'Chewy';
    background-color: #FFDE59;
    font-size: 40px;
    height: 250px;
    width: 250px;
    margin-top: 50px;
}

.InteractionLogButton {
    font-family: 'Chewy';
    background-color: #FFDE59;
    font-size: 40px;
    height: 250px;
    width: 250px;
    float: right;
    margin-left: 150px;
    margin-right:100px;
    margin-top: 50px;
}

.Links {
    color: black;
}

.Navigation {
     background-color: #FFDE59;
     font-family: 'Chewy';
     display: flex;
     justify-content: center;
     align-items: center;
 }

.NavLinks {
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}