
@import url("//fonts.googleapis.com/css?family=Chewy");

.header {
    background-color: #FFDE59;
    font-family: 'Chewy';
    display: flex;
    justify-content: center;
    align-items: center;
}

.Links {
    color: black;
}

.Navigation {
    background-color: #FFDE59;
    font-family: 'Chewy';
    display: flex;
    justify-content: center;
    align-items: center;
}