
@import url("//fonts.googleapis.com/css?family=Chewy");

.header {
    background-color: rgb(255,222,89);
    font-family: 'Chewy';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navigation {
    background-color: rgb(255,222,89);
    font-family: 'Chewy';
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__button-link {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}